:root{
  --first: #1BCB95;
  --second: #00aa714f;
  --gray: #575757;
  --gray2: #212529;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Continue;
  src: url(../fonts/PressStart2P-Regular.ttf);
}
.logoNav{
  -webkit-filter: drop-shadow(3px 3px 3px var(--second));
  filter: drop-shadow(3px 3px 3px var(--second));
}
.fontGame {
  font-family: continue;
}
.glitch.fontError {
  font-size: 100px;
}
.glitch {
  font-size: 10rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em 0 0 -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em 0 0 -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-size: 350px;
  background-position: center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.logo img {
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}
.pageNotFound img {
  height: 300px;
  background-color: rgba(255, 255, 255, 0.5);
}

.pageNotFound {
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.pageNotFound h1 {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  margin: 50px 0px 0px 0px;
}

.pageNotFound p {
  color: white;
  font-size: 1rem;
  width: 60%;
  text-align: center;
  margin: 5px;
  font-weight: 300;
}

.pageNotFound p a {
  color: white;
  font-weight: 600;
  text-decoration: underline;
}

.pageNotFound button {
  width: 140px;
  height: 40px;
  margin: 10px;
  background-color: #2f2e41;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  border: none;
  letter-spacing: 1px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: var(--second);
  transition: all ease 0.2s;
}

@media (max-width: 900px) {
  .pageNotFound img {
    height: 180px;
  }
  .pageNotFound p {
    width: 100%;
  }
}
@media (max-width: 600px) {
  nav {
    padding: 10px;
  }
  .pageNotFound {
    width: 100%;
  }
  .pageNotFound img {
    height: 120px;
  }
  .pageNotFound h1 {
    font-size: 1.4rem;
  }
  .pageNotFound p {
    width: 90%;
  }
}
