
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* header{
  background-color: white;
  text-align: center;
  outline: thick double #00d460;
} */
body{
  background-image: url(/images/fondo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.imgSize{
  width: 353px;
  height: 350px;
}
ul li a{
  text-decoration: none;
  color: black;
}
ul li a:hover{
  transition: 200ms;
  transform: scale(1.09);
  color: #00d460;
}
ul{
  list-style: none;
}
.cardSize{
  width: 18rem;
}
.btn-warning {
  color: white;
  background-color: var(--gray2);
  border-color: var(--green);
}
.btn-warning:hover {
  color: white;
  background-color: var(--gray);
  border-color: var(--green);
}
footer .container-fluid{ 
  padding: 0;
}
footer a{
  text-decoration: none;
  color: black;
}
footer .container-fluid{
  padding: 0;
  margin: 0;
}