*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mainLogin{
  font-family: sans-serif;
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 150px;
}
.bodyLogin{
  background-image: url(/images/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.contenedorTodo{
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}
.cajaTrasera{
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  backdrop-filter: blur(10px);
  background-color: #1dcd951a;
}
.cajaTrasera-register{
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}
.cajaTrasera-register p,
.cajaTrasera-register button{
  margin-top: 30px;
}
.cajaTrasera-register h3{
  font-weight: 400;
  font-size: 26px;
}
.cajaTrasera-register button {
  padding: 10px 40px;
  border: 2px solid white;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  transition: all 300ms;
}
.cajaTrasera-register button:hover{
  background:rgba(255, 255, 255, 0.911);
  color: rgba(0, 0, 0, 0.842);
}
.contenedorLogin{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -195px;
  left: 10px;
}
.contenedorLogin form{
  width: 100%;
  padding: 80px 20px;
  background: #333333f5;
  position: absolute;
  border-radius: 20px;
  border: solid 3px #1BCC96;
  box-shadow: 1px 0px 26px 4px rgba(0,0,0,0.68);
  -webkit-box-shadow: 1px 0px 26px 4px rgba(0,0,0,0.68);
  -moz-box-shadow: 1px 0px 26px 4px rgba(0,0,0,0.68);
}
.contenedorLogin form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #1CCC97;
}
.contenedorLogin form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2F2;
  outline: none;
  font-size: 16px;
}
.contenedorLogin form button{
  padding: 10px 40px;
  margin-top: 30px;
  border: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.24);
  color: white;
  cursor: pointer;
  transition: all 300ms;
  border: solid #1BCC95;
  font-weight: 600;
}
.contenedorLogin form button:hover{
  background:rgba(255, 255, 255, 0.911);
  color: black;
}

@media (max-width: 992px){
  .cajaTrasera{
    display: none;
  }
  .contenedorTodo{    
    display: flex;
    justify-content: center;
  }
  .contenedorLogin{
    left: 0px;
    top: 0;
    align-items: unset;

  }
  .mainLogin{
    margin-top: 75px;
  }
}
