*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
}
.fondDiv1{
  background-image: url(../images/page404/GAMEOVER.jpg);
  background-position: center;
}
.container{
  height: 49%;
  margin: 1% 1%;
}