* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  font-family: sans-serif;
}

.contenedorTodo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.cajaTrasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  backdrop-filter: blur(10px);
  background-color: #1dcd951a;
}

.cajaTrasera div {
  margin: 130px 40px;
  color: white;
  transition: all 500ms;
}

.cajaTraseraLogin p,
.cajaTraseraLogin button {
  margin-top: 30px;
}

.cajaTrasera div h3 {
  font-weight: 400;
  font-size: 26px;
}

.cajaTrasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.cajaTrasera button:hover {
  background: rgba(255, 255, 255, 0.911);
  color: rgba(0, 0, 0, 0.842);
}

/*FORMULARIOS*/
.contenedorLoginRegister {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -210px;
  left: 10px;
}
.contenedorLoginRegister form {
  width: 100%;
  padding: 70px 20px;
  background: #333333f5;
  position: absolute;
  border-radius: 20px;
  border: solid 3px #1bcc96;
  box-shadow: 1px 0px 26px 4px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 1px 0px 26px 4px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 1px 0px 26px 4px rgba(0, 0, 0, 0.68);
}

.contenedorLoginRegister form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #1bcc96;
}

.formularioRegister input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  outline: none;
}

.contenedorLoginRegister form button {
  padding: 10px 40px;
  margin-top: 30px;
  border: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.24);
  color: white;
  cursor: pointer;
  transition: all 300ms;
  border: solid #1bcc95;
  font-weight: 600;
}
.contenedorLoginRegister form button:hover {
  background: rgba(255, 255, 255, 0.911);
  color: black;
}

.formularioRegister {
  display: block;
}

/*Trabajando RESPONSIVE*/

@media screen and (max-width: 992px) {
  .cajaTrasera{
    display: none;
  }  
  .contenedorTodo{    
    display: flex;
    justify-content: center;
  }
  .contenedorLoginRegister{
    left: 0px;
    top: 100px;
    align-items: unset;
  }
  main{
    margin: 0px;
  }
}
