:root{
  --first: #F5AF19;
  --second: #F12711;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to bottom left, var(--first),var(--second));
  height: 100vh;
}
.hero{
  background: linear-gradient(to bottom right, var(--second),rgb(0, 0, 1));
  padding: 5% 0;
  box-shadow: 
    4px 8px 10px 0 rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.5);
  color: rgb(255,255,255);
}
.row{
  --bs-gutter-x: 0;
}
.carousel-control-next, .carousel-control-prev{
  width: 5%;
  opacity: 0;
}

/* css login */
.mainLogin{
  font-family: sans-serif;
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}
.bodyLogin{
  background-image: url(../Imagenes/fondoLoign.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.contenedor__todo{
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}
.caja__trasera{
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 128, 255, 0.3);
}
.caja__trasera-register{
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}
.caja__trasera-register p,
.caja__trasera-register button{
  margin-top: 30px;
}
.caja__trasera-register h3{
  font-weight: 400;
  font-size: 26px;
}
.caja__trasera-register button{
  padding: 10px 40px;
  border: 2px solid white;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  transition: all 300ms;
}
.caja__trasera-register button:hover{
  background:white;
  color: rgba(0, 128, 255, 0.3);
}
.contenedor__login{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
}
.contenedor__login form{
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}
.contenedor__login form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46A2FD;
}
.contenedor__login form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2F2;
  outline: none;
  font-size: 16px;
}
.contenedor__login form button{
  padding: 10px 40px;
  margin-top: 30px;
  border: none;
  font-size: 14px;
  background: white;
  color: #46A2FD;
  cursor: pointer;
  transition: all 300ms;
  border: solid #46A2FD;
}
.contenedor__login form button:hover{
  background:#46A2FD;
  color: white;
}

  


