:root{
  --first: #F5AF19;
  --second: #F12711;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to bottom left, var(--first),var(--second));
  height: 100vh;
}
.hero{
  background: linear-gradient(to bottom right, var(--second),rgb(0, 0, 1));
  padding: 5% 0;
  box-shadow: 
    4px 8px 10px 0 rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.5);
  color: rgb(255,255,255);
}
.row{
  --bs-gutter-x: 0;
}
.carousel-control-next, .carousel-control-prev{
  width: 5%;
  opacity: 0;
}